@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --light-navbar: #F5F9FF;
  --light-text: #4D72AF;
  --dark-navbar: #4D72AF;
  --dark-text: #F5F9FF;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
  max-width: 38rem;
  margin: auto;
  border-radius: 8px;
}

header img {
  width: 5rem;
  height: 5rem;
}

header button {
  font-size: 4rem;
  cursor: pointer;
  background: none;
  border: none;
}

header h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.main-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: inherit;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  margin-bottom: 2rem;
}

.toggle-btn {
  padding: 16px 32px;
  font-size: 1rem;
  border: 2px solid #4D72AF;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-btn:first-child {
  border-right: none; 
  border-top-left-radius: 9999px; 
  border-bottom-left-radius: 9999px; 
}

.toggle-btn:last-child {
  border-left: none; 
  border-top-right-radius: 9999px; 
  border-bottom-right-radius: 9999px; 
}

.tabs button {
  padding: 22px 22px;
  border: 2px solid;
  border-radius: 9999px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  box-shadow: none; 
  cursor: pointer;
  margin: 30px;
}

.tabs button:hover {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.tabs button.active {
  background-color: #4D72AF;
  color: #F5F9FF;
  border-color: #4D72AF;
}

.tabs button.inactive {
  background-color: #FFFBEB;
  color: #4D72AF; 
  border-color: #4D72AF; 
}

.task-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%; 
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}


.task-button {
  width: 2rem; 
  height: 2rem; 
  border-radius: 50%;
  border: 2px solid;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  position: relative; 
  cursor: pointer; 
}

.task-button.light {
  border-color: #4d72af; 
  background-color: transparent; 
}

.task-button.dark {
  border-color: #f5f9ff; 
  background-color: transparent; 
}

.task-button span {
  font-size: 1rem; 
  color: inherit; 
  font-weight: bold; 
}

form {
  display: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 1rem 0; 
}

form input {
  padding: 10px;
  border: 2px solid #4D72AF; 
  border-radius: 50px 0 0 50px; 
  text-align: center; 
}

form button {
  padding: 12px 24px; 
  border: .2px solid #4D72AF; 
  background-color: #4D72AF; 
  color: white; 
  border-radius: 0 50px 50px 0; 
  transition: all 0.3s ease; 
}

form button:hover {
  background-color: #3b5998; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

li button {
  padding: 5px 10px;
  border: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

li button:hover {
  background-color: #218838;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
  max-width: 38rem; 
  margin: auto; 
  border-radius: 8px; 
}

footer p {
  font-size: 0.75rem;
  margin: 0;
  color: inherit; 
  align-items: center;
}

footer.light {
  background-color: var(--light-navbar);
}

footer.dark {
  background-color: var(--dark-navbar);
}
